<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>이메일 인증 성공</title>
</head>
<body>
<div style="font-family: sans-serif; width: 400px; height: 600px; border-top: 4px solid #D14124; margin: 100px auto; padding: 30px 0; box-sizing: border-box;">
    <h1 style="margin: 0; padding: 0 5px; font-size: 28px; font-weight: 400;">
        <span style="font-size: 15px; margin: 0 0 10px 3px;">홍만중국어</span><br />
        <span style="color: #D14124">메일인증 성공!</span>
    </h1>
    <p style="font-size: 16px; line-height: 26px; margin-top: 50px; padding: 0 5px;">
        축하합니다!<br />
        메일 인증에 성공하셨습니다.<br />
        회원가입 절차를 모두 완료하셨습니다.
    </p>
    <div style="border-top: 1px solid #DDD; padding: 5px;"></div>
</div>
</body>
</html>